- content_for :css do
  = stylesheet_link_tag "user_edit"

- content_for :js do
  = javascript_include_tag "contest_form"

.edit_profile
  %h1 Реєстрація у конкурсі
  = @contestant.errors
  = form_for @contestant, :html => {:multipart => true} do |f|
    %p.error_msg Будь ласка, заповніть наступні поля:
    .field
      = f.label :first_name, "Ім'я"
      = f.text_field :first_name
    .field
      = f.label :last_name, "Прізвіще"
      = f.text_field :last_name
    .field.wide    
      = f.label :email, "Електронна пошта"
      = f.text_field :email
      %small Не буде опублiкована
    .field.wide
      = f.label :city, "Місто"
      = f.text_field :city
    .field.wide
      %h3 Завантажте свої роботи у одну або декілька категорій
    = f.fields_for :categories do |c|
      = c.hidden_field :name
      .field
        %h3= c.object.name
        = c.fields_for :photos do |p|
          = p.file_field :picture
    -if (contest = Contest.current) && contest.rules?
      .field.wide
        %p 
          %strong Реєструючісь у конкурсі, Ви підтверджуєте свою згоду із правиламі конкурса.
        .contest_rules
          = contest.rules.html_safe
    .action= f.submit "Реєстрація"
      
