- content_for :css do
  = stylesheet_link_tag "main_page"

#showcase
  .pusher
    -if @big_photo.present?
      #big_photo= render "photos/photo_with_caption", :photo => @big_photo, :size => :processed, :no_caption => true
    -if @photos.present?
      #small_photos= render :partial => "photos/photo_with_caption", :collection => @photos
  -contest = Contest.current
  %ul.photographers_list{:class => contest.present? ? "with_contest" : "without_contest"}
    -if @big_photo.present?
      =render @big_photo.user
  -if contest
    #contest
      %h2= contest.name
      %p= contest.description
      = link_to "Принять участие", new_contestant_path, :class => :button
      - if contest.contestants.count > 0
        = link_to "Участники конкурса", contestants_path, :class => :contestants_link

.bottleneck
  -if @users.present?
    %h2 
      =link_to "Фотографы ассоциации", users_path

      #photographers_spotlight
        - @users.each do |user|
          =link_to user do
            =image_tag user.avatar.url(:vertical_thumb), :title => user.to_s
      =link_to "и другие &rarr;".html_safe, users_path, :class => :button

  -if @static_pages.present?
    %h2 
      =link_to "Последние публикации", static_pages_path
    %ul#latest_publications
      - @static_pages.each do |static_page|
        %li
          .article
            %h3= link_to static_page.name, static_page
            %p= strip_tags static_page.teaser
            %p
              %small= link_to "Читать дальше", static_page
