- content_for :css do
  = stylesheet_link_tag "main_page"

#showcase
  .pusher
    -if @big_photo.present?
      #big_photo= render "photos/photo_with_caption", :photo => @big_photo, :size => :processed
    -if @photos.present?
      #small_photos= render :partial => "photos/photo_with_caption", :collection => @photos
  -contest = Contest.current

.bottleneck
  -if contest
    %h2= contest.name
    %p= contest.description.html_safe
    = link_to "Взяти участь", new_contestant_path, :class => "contest button"
    - if contest.contestants.count > 0
      &nbsp;&nbsp;
      = link_to "Учасники конкурсу", contestants_path, :class => :contestants_link

  -if @users.present?
    %h2 
      =link_to "Фотографи асоцiації", users_path
    %ul.photographers_list
      =render @users
    .cl
    =link_to "та інші &rarr;".html_safe, users_path, :class => :button

  -if @static_pages.present?
    %h2 
      =link_to "Останні публікації", static_pages_path
    %ul#latest_publications{:class => "cols#{@static_pages.count}"}
      - @static_pages.each do |static_page|
        %li
          .article
            %h3= link_to static_page.name, static_page
            %p= truncate(strip_tags(static_page.body), :length => 300).html_safe
            %p
              %small= link_to "Читати далi", static_page
