- content_for :css do
  = stylesheet_link_tag "main_page"

#showcase
  .pusher
    #big_photo= render "photos/photo_with_caption", :photo => @big_photo, :size => :processed, :no_caption => true
    #small_photos= render :partial => "photos/photo_with_caption", :collection => @photos
  %ul.photographers_list
    =render @big_photo.user

.bottleneck
  .article
    %h2 Здесь можно разместить вступительный текст
    %p= Vydumschik::Lorem.paragraph
    %p= Vydumschik::Lorem.paragraph

  %h2 
    =link_to "Фотографы ассоциации", users_path

  #photographers_spotlight
    - @users.each do |user|
      =link_to user do
        =image_tag user.avatar.url(:vertical_thumb), :title => user.to_s
  =link_to "и другие &rarr;".html_safe, users_path

  %h2 
    =link_to "Последние публикации", static_pages_path
  %ul#latest_publications
    - @static_pages.each do |static_page|
      %li
        .article
          %h3= link_to static_page.name, static_page
          %p= strip_tags static_page.teaser
          %p
            %small= link_to "Читать дальше", static_page
