-user ||= @user
%ul
  -unless user.price.blank?
    %li 
      %span Ціна: 
      от 
      = user.price
      $ за день зйомки
  - unless user.city.blank?
    %li 
      %span Місто: 
      = user.city
  %li
    %small=link_to "Календарь", "#", :id => "show_calendar_tab"
  %li &nbsp;
  - unless user.phone.blank?
    %li 
      %span Телефон: 
      = user.phone
  - unless user.contact_email.blank?
    %li
      %span E-mail:
      = link_to user.contact_email, "mailto:#{user.contact_email}"
  - unless user.skype.blank?
    %li
      %span Skype:
      = user.skype
