-user ||= @user
%ul
  -unless user.price.blank?
    %li 
      %span Цена: 
      от 
      = user.price
      $ за день съемки
  - unless user.city.blank?
    %li 
      %span Город: 
      = user.city
  %li
    %span Ближайшая дата:
    11.02
    %small=link_to "календарь", "#", :id => "show_calendar_tab"
  %li &nbsp;
  - unless user.phone.blank?
    %li 
      %span Телефон: 
      = user.phone
  - unless user.skype.blank?
    %li
      %span Skype:
      = image_tag "http://mystatus.skype.com/smallicon/#{user.skype}", :style => "border: none;", :width => "16"
      = user.skype