= form_for(@user, :url => user_path, :html => { :multipart => true }) do |f|
  - if @user.errors.any?
    #error_explanation.message
      %h2
        = @user.errors.count
        проблемы возникли со следующими полями:
      %ul
        - @user.errors.full_messages.each do |msg|  
          %li= msg
  .field.wide
    = f.label "Моя фотография"
    = f.file_field :avatar
    %small если хотите изменить фото профайла
    = image_tag current_user.avatar.url(:small)
  .field
    = f.label "Имя"
    = f.text_field :first_name
  .field
    = f.label "Фамилия"
    = f.text_field :last_name
  .field
    = f.label "Цена за день съемки от ($):"
    = f.text_field :price
  .field
    = f.label "Город"
    = f.text_field :city
  .field
    = f.label "Телефон"
    = f.text_field :phone
  .field
    = f.label :skype
    = f.text_field :skype
  .field.wide
    = f.label "О себе"
    = f.text_area :about
  = hidden_field_tag(:on, :edit)
  .action= f.submit "Сохранить"