= form_for(@user, :url => user_path, :html => { :multipart => true }) do |f|
  .field.wide
    = f.label "Моя фотография"
    = f.file_field :avatar
    %small Только если хотите изменить свою фотографию.
    = image_tag current_user.avatar.url(:small)
  .field
    = f.label "Имя"
    = f.text_field :first_name
  .field
    = f.label "Фамилия"
    = f.text_field :last_name
  .field
    = f.label "Цена за день съемки от ($):"
    = f.text_field :price
  .field
    = f.label "Город"
    = f.text_field :city
  .field
    = f.label "Телефон"
    = f.text_field :phone
  .field
    = f.label :skype
    = f.text_field :skype
  .field
    = f.label "Контактный e-mail"
    = f.text_field :contact_email
  .field.wide
    = f.label "О себе"
    = f.text_area :about, :class => "mceEditor"
  = hidden_field_tag(:on, :edit)
  .action= f.submit "Сохранить"
