= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|  
          %li= msg
  .field.wide
    = f.label "Электронная почта"
    = f.email_field :email
  .field
    = f.label "Пароль"
    = f.password_field :password
  .field
    = f.label "Повторите пароль"
    = f.password_field :password_confirmation
  - if @user.new_record?
    .field
      = f.label "Секретный ключ"
      = f.text_field :registration_key
    -#commented
      .field
        = f.hidden_field :registration_key, :used => true
  .action= f.submit t("helpers.submit")
