= form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation.message
      %h2
        = @user.errors.count
        проблемы возникли со следующими полями:
      %ul
        - @user.errors.full_messages.each do |msg|  
          %li= msg
  .field.wide
    = f.label "Электронная почта"
    = f.email_field :email
  .field
    = f.label "Пароль"
    = f.password_field :password, :autocomplete => :off
  .field
    = f.label "Повторите пароль"
    = f.password_field :password_confirmation, :autocomplete => :off
  = hidden_field_tag(:on, :edit_account)
  .action= f.submit t("helpers.submit")
