= form_for(@user) do |f|
  .field.wide
    = f.label "Электронная почта"
    = f.email_field :email
  .field
    = f.label "Пароль"
    = f.password_field :password, :autocomplete => :off
  .field
    = f.label "Повторите пароль"
    = f.password_field :password_confirmation, :autocomplete => :off
  = hidden_field_tag(:on, :edit_account)
  .action= f.submit t("helpers.submit")
