- content_for :css do
  = stylesheet_link_tag "user_edit"
  = stylesheet_link_tag "calendar"
  = stylesheet_link_tag "photographer_profile"
  
- content_for :js do
  = javascript_include_tag "calendar_date"
  
- @page_title = "Настройки Календаря"
.edit_profile
  = render "users/edit_nav"
  %h2 Календарь
  %br
  .calendar_tab
    %ul.legend
      %li
        Перейти к:
        %br/
        %small 1-му
        = select_date @month, :discard_day => true
        %br/
        = button_to "Перейти", "", :id => :date_nav_button
        -if params[:month]
          %p= link_to "К текущему месяцу", edit_calendar_user_path(current_user)
      %li
        .busy_day 12
        &mdash; день занят
      %li
        .free_day 16
        &mdash; день свободен
      %li
        %small 
          %p Кликните по свободной дате чтобы пометить ее как занятую. 
          %p Кликните снова чтобы освободить дату.
    %ul.calendar_months
      = edit_month_calendar(@month) do |desired_date|
        - calendar_record ||= current_user.calendar_records.by_date(desired_date)
        - [render("admin/calendar_records/calendar_record", :calendar_record => calendar_record), {:class => calendar_record.new_record? ? "free" : "busy"}]
