- content_for :css do
  = stylesheet_link_tag "user_edit"
  = stylesheet_link_tag "calendar"
  
- content_for :js do
  = javascript_include_tag "calendar_date"
  = javascript_include_tag "calendar"
  
- @page_title = "Настройки"
.edit_profile
  %h2 Основная информация
  = render "form"
  %hr
  %h2 Изменить адрес электронной почты или пароль
  = render "signup_form"
  %hr
  %h2 Календарь
  %br/
  %ul.calendar_months
    = full_year_calendar do |desired_date|
      - calendar_record ||= current_user.calendar_records.by_date(desired_date)
      - [render("admin/calendar_records/calendar_record", :calendar_record => calendar_record), {:class => calendar_record.new_record? ? "free" : "busy"}]
  .cl
  %ul.legend
    %li
      .busy_day 12
      &mdash; день занят
    %li
      .free_day 16
      &mdash; день свободен
    %li
      Клик по дате изменит ее состояние
