
%h2
  = image_tag @user.avatar.url(:small)
  = @user.first_name
  = @user.last_name
%p
  %h3
    About me:
  = @user.about
#contact_info
  %p
    Email:
    = @user.email
=link_to "My albums", user_categories_path(@user, @categories)