- content_for :css do
  = stylesheet_link_tag "photographer_profile"
  = stylesheet_link_tag "calendar"

- content_for :js do
  = javascript_include_tag "photographer_profile"
  = javascript_include_tag "skypeCheck"

- @page_title = [@user.first_name, " ", @user.last_name].join

.photographer_profile
  %h2
    = @user.first_name
    = @user.last_name

  %ul.menu
    %li#photos.current= link_to "Фотографии", "#"
    %li#info= link_to "Контактная информация", "#"
    %li#calendar= link_to "Календарь", "#"

  .tab_content#photos_tab
    %ul.galleries
      = render @user.categories

  .tab_content#info_tab.hidden
    .info
      %ul
        %li 
          %span Цена: 
          от 
          = @user.price
          $ за день съемки
        %li 
          %span Город: 
          = @user.city
        %li
          %span Ближайшая дата:
          11.02
          %small=link_to "календарь", "#", :id => "show_calendar_tab"
        %li &nbsp;
        %li 
          %span Телефон: 
          = @user.phone
        %li
          %span Skype:
          = image_tag "http://mystatus.skype.com/smallicon/#{@user.skype}", :style => "border: none;", :width => "16"
          = @user.skype
      .description
        %h3 О себе
        = @user.about
    .userpic= image_tag @user.avatar.url(:small)

  .tab_content#calendar_tab.hidden
    %ul.months
      %li= link_to "Январь", "#"
      %li= link_to "Февраль", "#"
      %li= link_to "Март", "#"
      %li= link_to "Апрель", "#"
      %li= link_to "Май", "#"
      %li= link_to "Июнь", "#"
      %li= link_to "Июль", "#"
      %li= link_to "Август", "#"
      %li.current= link_to "Сентябрь", "#"
      %li= link_to "Октябрь", "#"
      %li= link_to "Ноябрь", "#"
      %li= link_to "Декабрь", "#"
    %ul.legend
      %li
        .busy_day 12
        &mdash; день занят
      %li
        .free_day 16
        &mdash; день свободен
      %li
        %small Уточнить информацию и сделать заказ можно по телефону
        = @user.phone
        %br/
        %small= link_to "Контактная информация", "#", :id => "show_info_tab"

    - calendar(:year => Time.now.year, :month => Time.now.month, :first_day_of_week => 1, :month_header => true) do |d|
      - if @user.calendar_records.exists?(d)
        - [d.mday, {:class => "busy"}]
      -else
        - [d.mday, {:class => "free"}]
