- content_for :css do
  = stylesheet_link_tag "photographer_profile"
  = stylesheet_link_tag "calendar"

- content_for :js do
  = javascript_include_tag "photographer_profile"
  = javascript_include_tag "calendar"
  - javascript_include_tag "skypeCheck"

- @page_title = [@user.first_name, " ", @user.last_name].join

.photographer_profile
  %ul.menu
    %li#photos.current= link_to "Фотографії", "#"
    %li#info= link_to "Контактна информація", "#"
    %li#calendar= link_to "Календар", "#"
  %h2
    = "#{@user.first_name}&nbsp;#{@user.last_name}".html_safe

  .tab_content#photos_tab
    %ul.galleries
      = render @categories

  .tab_content#info_tab.hidden
    .info
      = render "users/contact_info"
      .description
        -unless @user.about.blank?
          %h3 Про себе
          = @user.about.html_safe
    .userpic= image_tag @user.avatar.url(:small)

  .tab_content#calendar_tab.hidden
    %ul.legend
      %li
        .busy_day 12
        &mdash; день зайнятий
      %li
        .free_day 16
        &mdash; день вільний
      %li
        %small Уточнити информацію та зробіті замовлення ви можете по телефону
        = @user.phone
        %br/
        %small= link_to "Контактна информація", "#", :id => "show_info_tab"

    %ul.calendar_months= render "users/calendar"
