-content_for :js do
  :javascript
    var photos_collection = #{@json_collection};
  =javascript_include_tag "jquery.fullbg"
  =javascript_include_tag "preload_image"
  =javascript_include_tag "photo_page"

- content_for :css do
  = stylesheet_link_tag "photo_page"
  = stylesheet_link_tag "info_block"

=image_tag "loading.gif", :class => "fullBg current loading"

.next_link
  =link_to "&rarr;".html_safe, "#", :id => "next_link", :class => "paginate"
  =image_tag("", :id => "next_thumbnail", :class => "thumbnail")
.prev_link
  =link_to "&larr;".html_safe, "#", :id => "prev_link", :class => "paginate"
  =image_tag("", :id => "prev_thumbnail", :class => "thumbnail")
.curtain
.backup_curtain
-if @user.present?
  .info_block
    %h3=link_to @user, @user
    =link_to "Контактная информация", "#", :class => "toggle_contacts_link"
    .contacts
      = render "users/contact_info"
-elsif @contestant.present?
  .info_block
    %h3= link_to @contestant, @contestant