- if category.photos.present?
  %li
    =link_to category do
      = image_tag category.photos.first.picture.url(:thumb)
      - if (other_photos = category.photos.slice(1..2)).present?
        - other_photos.each do |other_photo|
          = image_tag other_photo.picture.url(:thumb), :class => cycle(:second, :third), :style => "-webkit-transform:rotate(#{rand(12)-6}deg); -moz-transform:rotate(#{rand(12)-6}deg); -o-transform:rotate(#{rand(12)-6}deg);", :width => "400", :height => "320"
    .caption
      = category.name