= form_for(@user_session) do |f|
  %p.error_message= flash[:error]
  .field
    = f.label "Электронная почта"
    %br/
    = f.text_field :email
  .field
    = f.label "Пароль"
    %br/
    = f.password_field :password
  =f.submit "Войти"
